<!DOCTYPE html>
<html lang="mk" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MajesticMarketplace</title>
</head>
<body>
<div class="mt-4" layout:fragment="content">
    <div class="row">
        <div class="col-12" th:if="${orderItems.size() > 0}">
            <div class="row">
                <div class="col-12">
                    <form th:action="@{'/'}" th:method="GET">
                        <button type="submit" class="btn btn-primary">Continue Shopping</button>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${orderItems}" class="cart-item">
                        <td th:text="${i.getName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <label th:text="'User: ' + ${orderItems.get(0).getUsername()}"></label>
    </div>
    <div>
        <label th:text="'Total cost: ' + ${orderItems.get(0).getTotalCost()}"></label>
    </div>

    <div>
      <h4> <b>Successful Payment !</b></h4>

    </div>

</div>
</body>
</html>